<div class="side-bar-header">
  <div class="header-name">
    <%= link_to 'My Calendar', "/" %>
  </div>
</div>

<div class="others">
  <div class="other">
    <div class="other-name">
      <a href="#">タスク</a>
    </div>
  </div>
  <div class="other">
    <div class="other-name">
    <%= link_to 'メモ', "#" %>
    </div>
  </div>
  <div class="other">
    <div class="other-name">
      <a href="#">資料庫</a>
    </div>
  </div>
</div>